body{
   background-color: mistyrose;
   margin-top: 100px;
   margin-bottom: 100px;
   margin-right: 150px;
   margin-left: 80px;
}
p{
    font-family: Lucida Console, Monospace;
    font-size: 1em;
}
img {
  width: 150px,
  height: auto
}
